name: Playwright Tests
on:
  # this runs for an hour without ever finishing, when my machine finishes in less than a minute (for 10 tests, 2026/01).
  # I think this is because github-actions runners suck. Instead, run playwright manually before releases.
  workflow_dispatch:
  #push:
  #  branches: [ main, master ]
  #pull_request:
  #  branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install -g yarn && yarn
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    - name: Run Playwright tests
      run: yarn playwright test
      working-directory: expo54
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: expo54/playwright-report/
        retention-days: 30
